# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtualenv
.venv/
env/
venv/
.venv310/

# IDEs
.vscode/
.idea/

# Docker
*.pid
*.env

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.bak
*.swp
